/* Estilizações gerais */
:root {
    /* tamanho fontes */
    --pequeno: 12px;
    --pequeno-medio: 14px;
    --medio: 16px;
    --medio-grande: 20px;
    --grande: 22px;
    --muito_grande: 26px;

    /* cores */
    --padrao: #222222;
    --branco: white;
    --preto: black;
    --principal: #ff385c;
    --cinza: #717171;
    --cinza_claro: rgb(221, 221, 221);

    /* Outros */
    --sombra: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Circular, system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    font-size: var(--pequeno-medio);
}

h1 {
    font-size: var(--muito_grande);
}

h2 {
    font-size: var(--grande);
    font-weight: 600;
}

h3 {
    font-size: var(--medio);
    font-weight: 600;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.alinhar {
    align-items: center;
}

.espaco {
    justify-content: space-between;
}

.baseline {
    align-items: baseline;
}

.bold {
    font-weight: 600;
}

.cinza {
    color: var(--cinza);
}

a {
    font-weight: 600;
    color: var(--padrao);
}

.botao {
    background-color: transparent;
    border: 0;
}

.espacamento_divs {
    margin: 2rem 0;
}

.foto-redonda {
    width: 3rem;
    height: 3rem;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 1rem;
}

.bolinha::before {
    content: "•";
    margin: 0 4px;
}

/* Nav */
nav a {
    text-decoration: none;
}

/* Zona Nobre ~> título + imagens */
#titulo {
    margin-top: 1.5rem;
}

#titulo button {
    margin-left: 15px;
}

#titulo a {
    margin-left: 7px;
}

#imagens {
    display: grid;
    grid-template-rows: repeat(2, 180px);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 10px;
}

#imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#imagem_principal {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#img3 {
    border-top-right-radius: 15px;
}

#img5 {
    border-bottom-right-radius: 15px;
}

/* Descrição */
#descricao {
    margin-bottom: 15px;
}

#descricao ul {
    margin-top: 5px;
}

#descricao ul svg {
    margin-right: 5px;
}

/* Beneficios */
.beneficio {
    margin-bottom: 1.5rem;
}

.beneficio:last-child {
    margin-bottom: 0;
}

.beneficio svg {
    width: 30px;
    height: 30px;
    margin-right: 15px;
} 

#comodidades {
    background-color: transparent;
    border: 1px solid var(--preto);
    border-radius: 8px;
    width: 300px;
    padding: 13px;
}

/* Onde vai dormir */
#quarto {
    border-radius: 10px;
    margin: 1rem 0;
}

/* O que oferece */
#oferece {
    margin-bottom: 2rem;
}

#oferece svg{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#oferece ul {
    margin-top: 1rem;
}

#oferece li {
    padding: 8px 0;
}

#oferece ul li:last-child {
    text-decoration: line-through;
}

.mostrar_mais {
    margin-right: 8px;
}

/* Reservar para Desktop e Tablet*/
#reservar {
    border: 1px solid var(--cinza_claro);
    border-radius: 12px;
    box-shadow: var(--sombra);
    padding: 24px;
    box-sizing: border-box;
    max-width: 400px;
    max-width: 500px;
    margin-top: 21px;
}

.noite {
    margin-left: 3px;
}

#check-in {
    margin-top: 20px;
    border: 1px solid var(--cinza);
    border-radius: 7px;
}

.titulos-reservar {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 1px;
}

.datas {
    padding: 10px;
    width: 50%;
}

#checkout {
    border-left: 1px solid var(--cinza);
}

#hospede {
    border-top: 1px solid var(--cinza);
    padding: 10px;
}

.reservar_button {
    background-color: var(--principal);
    color: var(--branco);
    font-size: var(--medio);
    border: 0;
    border-radius: 7px;
    padding: 1.3rem 1rem;
}

#aviso {
    justify-content: center;
}

.precos {
    font-size: var(--medio);
    margin-top: 15px;
}

#reservar hr {
    margin-top: 20px;
}

/* Notificação embaixo da reserva */
#preco {
    border: 1px solid var(--cinza_claro);
    border-radius: 12px;
    padding: 24px;
    margin-top: 2rem;
    max-width: 450px;
}

#preco p {
    margin-top: 3px;
}

#preco svg {
    min-width: 32px;
    min-height: 32px;
    margin-right: 17px;
}

/* Notas */
/* .nota {

} */

/* Regras */
#regras {
    margin-top: 1rem;
}

#regras ul {
    max-width: 230px;
}

#regras li {
    padding: 5px;
}

/* Footer */
footer {
    width: 100%;
    border-top: 1px solid var(--cinza_claro);
    background-color: #f7f7f7;
}

footer li {
    padding: 7px;
}

footer a {
    text-decoration: none;
    color: var(--padrao);
    font-weight: inherit;
}

footer a:hover {
    text-decoration: underline;
}

/* Media Query ~> Responsividade */
/* Desktop */
@media screen and (min-width: 1024px) {
    .margin {
        margin: 0 10%;
    }

    #esquerda {
        width: 58%;
        margin-top: 21px;
    }
    
    #direita {
        width: 33%;
    }

    /* Reservar */
    #reservar_menor {
        display: none;
    }

    .reservar_button {
        width: 100%;
        margin: 15px auto;
    }

    /* Beneficios */
    .beneficio div {
        max-width: 430px;
    }

    /* Quarto */
    #quarto {
        width: 350px;
    }

    /* Oferece */
    #oferece ul {
        min-width: 300px;
        max-width: 320px;
        margin-right: 20px;
    }

    /* Avaliação */
    .avaliacao {
        max-width: 350px;
    }

    #avaliacoes {
        justify-content: space-around;
    }
    
    /* Regras */
    #regras {
        margin-right: 3rem;
    }

    /* Footer */
    footer div {
        display: flex;
        justify-content: space-around;
        padding: 3rem;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #texto_logo {
        display: none;
    }

    .margin {
        margin: 0 5%;
    }

    #esquerda {
        width: 58%;
        margin-top: 21px;
    }
    
    #direita {
        width: 33%;
    }

    #reservar_menor {
        display: none;
    }

    .reservar_button {
        width: 100%;
        margin: 15px auto;
    }

    /* Elementos que irão para coluna */
    #avaliacoes, #oferece {
        flex-direction: column;
    }

    /* Benefícios */
    .beneficio div{
        max-width: 300px;
    }
    
    /* Quarto */
    #quarto {
        width: 300px;
    }

    /* Oferece */
    #oferece ul {
        max-width: 340px;
    }

    #oferece ul:last-child {
        margin-top: 4px;
    }

    /* Avaliação */
    .avaliacao:last-child {
        margin-top: 2.5rem;
    }


    /* Footer */
    footer ul {
        border-bottom: 1px solid var(--cinza_claro);
        margin: 0 2rem;
        padding: 1rem 0;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    #texto_logo {
        display: none;
    }

    .margin {
        margin: 0 3%;
    }

    #avaliacoes, #regras, #oferece {
        flex-direction: column;
    }

    .mobile_none, #direita {
        display: none;
    }

    .mobile_show {
        display: block;
    }

    #reservar_menor {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--branco);
        width: 100%;
        border-top: 1px solid var(--cinza_claro);
        padding: 15px;
    }

    #reservar_menor span {
        font-weight: 500;
        text-decoration: underline;
    }

    .reservar_button {
        padding: 1rem 4rem;
        margin-right: 2rem;
    }

    /* Benefícios */
    .beneficio div{
        max-width: 240px;
    }

    /* Oferece */
    #oferece ul {
        max-width: 300px;
    }

    #oferece ul:last-child {
        margin-top: 4px;
    }
    
    /* Quarto */
    #quarto {
        width: 250px;
    }

    /* Avaliação */
    .avaliacao:last-child {
        margin-top: 2.5rem;
    }

    .avaliacao li {
        font-size: var(--pequeno);
    }

    /* Regras */
    #regras ul {
        margin-top: 2rem;
    }

    #regras ul:first-child {
        margin-top: 0;
    }

    /* Footer */
    footer ul {
        border-bottom: 1px solid var(--cinza_claro);
        margin: 0 2rem;
        padding: 1rem 0;
    }

    footer {
        margin-bottom: 5rem;
    }
}

/* Media Query extra para não ficar tão estranho em tela grande */
@media screen and (min-width: 1700px) {
    .margin {
        margin: 0 20%;
    }
}