/* Estilizações gerais */
:root {
    /* tamanho fontes */
    --pequeno: 12px;
    --pequeno-medio: 14px;
    --medio: 16px;
    --medio-grande: 20px;
    --grande: 22px;
    --muito_grande: 26px;

    /* cores */
    --padrao: #222222;
    --branco: white;
    --preto: black;
    --principal: #ff385c;
    --cinza: #717171;
    --cinza_claro: rgb(221, 221, 221);

    /* Outros */
    --sombra: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Circular, system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    font-size: var(--pequeno-medio);
}

.flex {
    display: flex;
}

.li-titulo {
    font-weight: 600;
}

footer {
    width: 100%;
    border-top: 1px solid var(--cinza_claro);
    background-color: #f7f7f7;
}

footer li {
    list-style: none;
    padding: 7px;
}

footer a {
    text-decoration: none;
    color: var(--padrao);
}

footer a:hover {
    text-decoration: underline;
}

/* Media Query ~> Responsividade */
/* Desktop */
@media screen and (min-width: 1024px) {

    /* Footer */
    footer div {
        justify-content: space-around;
        padding: 3rem;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* Footer */
    footer ul {
        border-bottom: 1px solid var(--cinza_claro);
        margin: 0 2rem;
        padding: 1rem 0;
    }

    footer div {
        flex-direction: column;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    /* Footer */
    footer ul {
        border-bottom: 1px solid var(--cinza_claro);
        margin: 0 2rem;
        padding: 1rem 0;
    }

    footer div {
        flex-direction: column;
    }
}